<br>
<br>
<br>
<div class="container text-center">
        <img src="https://static-wc.arcux.net/uploads/20200529130551/la-arquitectura-1.jpg" class="img-fluid Responsive image" alt="" >
</div>
    
<div class="container text-center">
    <div class="T-quienes">
        <h1>D I S & C O N</h1>
        <h3>Somos una empresa dedicada al diseño y construcción de proyectos arquitectónicos y
            civiles. Estamos enfocados en el desarrollo de ideas fincionales para cada una de las áreas
            en que trabajamos.
        </h3>
    </div>
</div>

<div class="container text-center">
    <div class="T-quienes">
        <h1>MISIÓN</h1>
        <h3>Somos un grupo empresarial direccionado a la ejecuciòn de proyectos, orientados a 
            generar bienestar, seguridad y confort en nuestros crlientes con resultados que 
            cumplen con sus necesidades, brindando un servicio de calidad de inicio a fin
        </h3>
    </div>
</div>

<div class="container text-center">
    <div class="T-quienes">
        <h1>VISIÓN</h1>
        <h3>Posicionamos como una empresa reconocida por nuestros clientes como a nivel nacional 
            e internacional, a traves de la responsabilidad, y eficiencia, cumpliendo a tiempo con 
            todos y cada uno de los trabajos encomendados, lograr que todo nuestro personal se sienta
            motivado y orgulloso de pertenecer a nuestra organización, fomentando el control y la 
            calidad en el servicio, buscando siempre dar mas de si mismos y con esto lograr la 
            satisfaccón del cliente. Una empresa diversificada e integrada, comprometida y admirada 
            por su capacidad de crear valor y de innovar para dar respuesta a las nuevas 
            necesidades sociales.
        </h3>
    </div>
</div>

