<div class="container-fluid" id="datos">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6" >
            <h1 id="title">Contactanos</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <form class="form-horizontal" method="post">
                                <fieldset>
                                    <div id="cont">
                                        <h2>Mensaje</h2>
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                            <div class="col-md-10">
                                                <textarea class="form-control" id="message" name="message"  rows="7"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cont">
                                        <h2>Nombre y Apellido</h2>
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                            <div class="col-md-10">
                                                <input id="fname" name="name" type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cont">
                                        <h2>Correo electronico</h2>
                                        <div class="form-group">
                                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                            <div class="col-md-10">
                                                <input id="lname" name="name" type="text" class="form-control">
                                            </div>
                                        </div>   
                                    </div>
                                    
                                    <br>
                                    <div class="form-group">
                                        <div id="cont" class="col-md-3 d-grid gap-2">
                                            <button type="submit" class="btn btn-secondary btn-lg">Enviar</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5" >
            <h1 id="title">Datos</h1>
            <div id="dato">
                <h2><b>e-mail:</b> disycon.asociados@gmail.com</h2>
                <h2><b>Teléfono:</b> (+593) 9877952439 - 0958652852 - 0984942762 </h2>
                <h2>Quito - Ecuador</h2>
            </div>
            <h1 id="title">Ubicación</h1>
            <div id="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5807.691771057728!2d-78.49285958024706!3d-0.33610255669089384!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1631600460024!5m2!1ses-419!2sec" width="480" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>            
            </div>
        </div>
    </div>
</div>
