<div id="general">
<header class="header">
  <div class="header_container">
      <img src="/img/Tumblr.jpg" alt="" class="header_img">

      <a href="#" class="header_logo">Menú</a>

      <div class="header_search">
          <input type="search" placeholder="Buscar" class="header_input">
          <i class='bx bx-search-alt-2 header_icon'></i>
      </div>
      <div class="header_toggle">
          <i class='bx bx-menu' id="header-toggle"></i>
      </div>
  </div>

</header>
<!--nav-->
<div class="nav" id="navbar">
  <nav class="nav_container">
      <div>
          <a href="#" class="nav_link nav_logo">
              <i class='bx bxs-graduation nav_icon' style='color:rgba(0,0,0,0.7)  nav_icon'></i>
              <span class="nav_logo-name">Norman</span>
          </a>
          <div class="nav_list">
              <div class="nav_items">
                  <h3 class="nav_subtitle">Perfil</h3>
                  <a href="#" class="nav_link active">
                      <i class='bx bxs-home nav_icon' ></i>
                      <span class="nav_name">Inicio</span>
                  </a>


                  <div class="nav_dropdown">
                      <a href="#" class="nav_link">
                          <i class='bx bxs-user-circle nav_icon' ></i>
                          <span class="nav_name">usuario</span>
                          <i class='bx bx-chevron-down nav_icon nav_dropdown-icon'></i>
                      </a>

                  <div class="nav_dropdown-collapse">
                      <div class="nav_dropdown-content">
                          <a href="#" class="nav_dropdown-item">Contraseña</a>
                          <a href="#" class="nav_dropdown-item">Correo</a>
                          <a href="#" class="nav_dropdown-item">Otros</a>
                      </div>
                  </div>


                  </div>


                  <a href="#" class="nav_link">
                      <i class='bx bxs-message-rounded-detail nav_icon'></i>
                      <span class="nav_name">Mensajes</span>
                  </a>
              </div>

              <div class="nav_items">
                  <h3 class="nav_subtitle">Progreso</h3>

                  <div class="nav_dropdown">
                      <a href="#" class="nav_link">
                          <i class='bx bxs-folder-plus nav_icon'></i>
                          <span class="nav_name">MODULO 1</span>
                          <i class='bx bx-chevron-down nav_icon nav_dropdown-icon'></i>
                      </a>

                  <div class="nav_dropdown-collapse">
                      <div class="nav_dropdown-content">
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon' style='color:#16dc56'  ></i>
                              Introducción</a>
                      </div>
                  </div>
              </div>

                  <div class="nav_dropdown">
                      <a href="#" class="nav_link">
                          <i class='bx bxs-folder-plus nav_icon'></i>
                          <span class="nav_name">MODULO 2</span>
                          <i class='bx bx-chevron-down nav_icon nav_dropdown-icon'></i>
                      </a>

                  <div class="nav_dropdown-collapse">
                      <div class="nav_dropdown-content">
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon'></i>
                              ¿Que es la arquitectura?</a>
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon'></i>
                              Conceptos básicos</a>
                      </div>
                  </div>
                </div>
                  <div class="nav_dropdown">
                      <a href="#" class="nav_link">
                          <i class='bx bxs-folder-plus nav_icon'></i>
                          <span class="nav_name">MODULO 3</span>
                          <i class='bx bx-chevron-down nav_icon nav_dropdown-icon'></i>
                      </a>

                  <div class="nav_dropdown-collapse">
                      <div class="nav_dropdown-content">
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon'></i>
                              Texto</a>
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon'></i>
                              Texto</a>
                          <a href="#" class="nav_dropdown-item">
                              <i class='bx bx-check-circle nav_icon'></i>
                              Texto</a>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>

      <a href="#" class="nav_link nav_logout">
          <i class='bx bx-log-out nav_icon' ></i>
          <span class="nav_name">Salir</span>
      </a>
  </nav>
</div>
<!--contents-->
<main>
  <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aut doloremque laudantium, ipsum repellat corrupti doloribus commodi officiis recusandae nostrum quod qui et voluptates similique culpa ipsam est voluptas dolorum?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aut doloremque laudantium, ipsum repellat corrupti doloribus commodi officiis recusandae nostrum quod qui et voluptates similique culpa ipsam est voluptas dolorum?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aut doloremque laudantium, ipsum repellat corrupti doloribus commodi officiis recusandae nostrum quod qui et voluptates similique culpa ipsam est voluptas dolorum?</p>
  </section>
</main>
<script src="main.js"></script>

</div>
