.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
}
.nav-link{
    color: black;
}

.nav-pills .nav-link{
    border-radius: 0%;
    padding: 1px !important;
}
.nav-pills{
    font-size: 12px !important;

}
#Color{
  background-color: white;
}

#title{
  text-align: center;
}

#title h1{
  font-size: 700%;
  font-family:'Viaoda Libre', cursive;
}
#title h3{
  font-size: 200%;
  font-family:'Viaoda Libre', cursive;
}
