body{
  background: black;

}
#principal{
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
#contenedor{

  background: rgba(0, 0, 0, 0.541);
  color:white !important;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
img{
  overflow: hidden;
  width: 350px;
  height: 250px;
  /*margin: 1.6666%;*/
  margin: calc(5%/4);

  cursor: pointer;


}
img:hover{
  overflow: hidden;
  transition: transform 2s;
  position: relative;
  filter: brightness(20%);
  transform: scale(1.2);
  }

.title{
  display: none;
  color: white;
}
