<div class="colorb">
    <app-navbar-productos> </app-navbar-productos>


    <HR WIDTH="98.5%" align="center" size="4" />

<br>

        <div class="container-fluid">
            <div class="row">

                <div class="col-7" >
                    <div class="d-flex align-content-center flex-wrap">
                        <app-card-venta class="espacio" [dataEntrante]="elemntoLista" 
                        *ngFor = "let elemntoLista of elemntoListas" > </app-card-venta>
                        
                    </div>
                </div>
    
    
                
                    <div class="col" >
                        <div class="d-flex align-content-center flex-wrap" >
                            <app-mini-cards class="espacio" [dataEntrante]="card" 
                            *ngFor = "let card of cards" > </app-mini-cards>
                    </div>
                
            </div>

        </div>
<br>
<br>
</div>
