#contenedor{
  background: rgba(0, 0, 0, 0.541);
  padding: 10px;
  margin: 10px;
}
#contenedor1{
  display: inline;
  color:white !important;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.espacio{
  padding: 0.3cm;
}
